@model IEnumerable<TesteEngloba.ViewModels.FuncEnderecoViewModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Funcionarios</title>
</head>
<body>
    <p>
        <a asp-action="Create">Inserir</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RG)
                </th>
                <th>
                    Orgão Emissor do RG
                </th>
                <th>
                    Título de Eleitor
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CNH)
                </th>
                <th>
                    Considerar como Gestor?
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Número
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    Referência
                </th>
                <th>
                    Ativo?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RgEmissor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TituloEleitor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gestor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
